<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>My School Education Category Bootstrap Responsive website Template | Register :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="My School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Bootstrap-CSS -->
    <link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Style-CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>


<body>
    <!-- inner banner -->
    <div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- register  -->
            <div class="modal-body mt-md-2 mt-5">
                <form name="registerform" #registerform="ngForm" (ngSubmit)="onRegister(registerform)">
                    <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Register Now</h3>
                <!-- <form action="#" method="post"> -->
                    <div class="form-group">
                        <label class="col-form-label">Username</label>
                        <input type="text" #username="ngModel" class="form-control" placeholder="your name" name="Name" ngModel required>
                        <ul class="errors" [hidden]="username.valid">
                            <li [hidden]="!username.hasError('required')">
                                Username is required
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email</label>
                        <input type="email" #email="ngModel" class="form-control" placeholder="loremipsum@email.com" name="Email"
                            ngModel required>
                            <ul class="errors" [hidden]="email.valid">
                                <li [hidden]="!email.hasError('required')">
                                    Email is required
                                </li>
                            </ul>
                    </div>                    
                    <div class="form-group">
                        <label class="col-form-label">Phone</label>
                        <input type="number" #phone="ngModel" class="form-control" placeholder="9999999999" name="Phone"
                            ngModel required>
                            <ul class="errors" [hidden]="phone.valid">
                                    <li [hidden]="!phone.hasError('required')">
                                        Phone Number is required
                                    </li>
                                </ul>
                </div>
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input type="password" #password ="ngModel" class="form-control" placeholder="*****" name="Password" ngModel required>
                        <ul class="errors" [hidden]="password.valid">
                                <li [hidden]="!password.hasError('required')">
                                    Password is required
                                </li>
                            </ul>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Confirm Password</label>
                        <input type="password" #confirmpassword="ngModel" class="form-control" placeholder="*****" name="ConfirmPassword" ngModel required>
                        <ul class="errors" [hidden]="confirmpassword.valid">
                                <li [hidden]="!confirmpassword.hasError('required')">
                                    Confirm password is required
                                </li>
                            </ul>
                    </div>
                    <div class="sub-w3l my-3">
                            <div class="sub-w3layouts_hub">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-li text-style-w3ls">
                                    <span></span>I Accept to the Terms & Conditions</label>
                            </div>
                        </div>
                    <button type="submit" [disabled]="!registerform.valid" class="btn button-style-w3">Register</button>
                    

                    </form>
                </div>
                <!-- //register -->
            </div>
        </div>
        <!-- //inner banner -->
        <!-- move top icon -->
        <a href="#home" class="move-top text-center">
            <span class="fa fa-angle-double-up" aria-hidden="true"></span>
        </a>
        <!-- //move top icon -->
    </body>
    </html>