    <!-- services -->
    <div class="services py-5" id="what">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-xl-5 mb-sm-4 mb-2 text-center text-wh font-weight-bold">Latest Roommate Requests</h3>
            <div class="row w3pvtits-services-row text-center">
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-leanpub ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Roomate needed near JNTU</h4>
                        <p class="text-left">Rs 4000 | Female | KPHB Phase 1</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-graduation-cap ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Immediate Occupancy</h4>
                        <p class="text-left">Rs 6000 | Male/Female | Madhapur</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-users ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Looking for Roommate</h4>
                        <p class="text-left">Rs 6000 | Male/Female | Madhapur</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="row w3pvtits-services-row text-center">
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-leanpub ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Two male roommates needed</h4>
                        <p class="text-left">Rs 6000 | Male | Madhapur</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-graduation-cap ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Roommated wanted for PG Room</h4>
                        <p class="text-left">Rs 6000 | Male/Female | Madhapur</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 serv-w3mk mt-5">
                    <div class="w3pvtits-services-grids">
                        <span class="fa fa-users ser-icon" aria-hidden="true"></span>
                        <h4 class="text-bl my-4">Pet friend room available</h4>
                        <p class="text-left">Rs 10000 | Male/Female | Hitec City</p>
                        <a class="service-btn mt-xl-5 mt-4 btn" href="#">Contact<span class="fa fa-long-arrow-right ml-2"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //services -->
